<% @page_title = @page.title + ": Edits" %>

<div class="row">
    <div class="col">
        <% if @edits.empty? %>
        <div class="box">
            <span>No Edits</span>
        </div>
        <% else %>
        <ul class="list-display">
        <% @edits.order("created_at DESC").find_all do |edit| %>
            <li><%= link_to edit.user.username, user_path(edit.user.username) %><%= " - #{edit.summary} - #{ edit.created_at.strftime("%d-%m-%Y")}" %></li>
        <% end %>
        </ul>
        <%= will_paginate @edits %>
        <% end %>
    </div>
</div>