<% @page_title = "Worlds Wiki" %>

<h2>Warning!</h2>
<div class="row">
    <p>
    You are currently viewing a very early build of this website. You are welcome to sign up and play around. However, any worlds and data you submit
    are not guaranteed to be saved in future builds
    </p>
</div>
