<% if errors && errors.any? %>
  <div class="errors" id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(errors.count, "error") %>.
    </div>
    <ul>
    <% errors.each do |field, msgs| %>
      <% unless msgs.is_a? String %>
        <% msgs.each do |msg| %>
          <li><%= "#{field} #{msg}" %></li>
        <% end %>
      <% else %>
        <li><%= "#{field} #{msgs}" %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>