<% col_counter = 0 %>
<% @heading = nil %>
<div class=<%= "row" %>>
    <div class="col">
        <ul class='list-display'>
            <% names.each do |name| %>
                    <% if name.chars()[0] != @heading %>
                        <% @heading = name.chars()[0] %>
                        </ul>
                        <h4 class="list-heading"><%= @heading %></h4>
                        <% col_counter += 1 %>
                        <% if col_counter > col_length %>
                            <% col_counter = 0 %>
                            </div>
                            <div class="col">
                        <% end %>
                            <ul class="list-display">
                    <% end %>
                    <li>
                    <%= link_to name, "#{view}#{name}" %>
                    <% if admin %>
                     - (<%= link_to "Remove", "#{delete}#{name}", method: :delete, data: {confirm: "Are you sure?"} %>) 
                    <% end %>
                    </li>
                    <% col_counter += 1 %>
                    <% if col_counter > col_length %>
                        <% col_counter = 0 %>
                        </ul>
                        </div>
                        <div class="col">
                        <ul class="list-display">
                    <% end %>
            <% end %>
        </ul>
    </div>
</div>