<% @page_title = "Search: #{params[:search]} in #{@world.name}" %>

<% @pages.each do |page| %>
<div class="search-result">
    <h3><%= link_to page[:title], world_page_path(@world.name, page[:title]) %></h3>
</div>
<% end %>

<%= will_paginate @pages %>