/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

/*@import 'bootstrap'*/;
@import './reset.scss';
@import './textEditorStyles.scss';

$black: rgb(20, 20, 40);
$gray: rgba($black, .6);
$white: rgb(235,235,255);
$green: rgb(200, 255, 200);;
$dark_green: rgb(100,200,100);
$light-blue: rgb(50, 150, 255);
$alert-blue-background: rgb(190, 190, 255);
$alert-blue-border: rgb(100, 100, 200);
$red: rgb(255,200,200);
$dark-red: rgb(200, 100, 100);

$background_color: rgb(245, 245, 245);
$container_background_color: rgb(255,255,255);
$seconday_background_color: rgb(240, 240, 240);
$tertiary_background_color: rgb(225,225,225);
$primary-border-color: rgb(150, 100, 255);
$seconday_border_color: rgb(137, 131, 148);

$primary_font_color: $black;
$green_font_color: rgb(40,130,40);
$red_font_color: rgb(130,40,40);
$blue_font_color: rgb(40, 40, 130);
$secondary_font_color: rgba($black, .75);
$tertiary_font_color: rgba($black, .50);
$link_color: rgb(60, 0, 190);

$button-background-color: rgb(235, 235, 235);
$button-hover-background-color: rgb(200, 200, 200);
$button-click-background-color: rgb(70, 70, 70);
$button-border-color: rgb(45, 45, 45);
$button-click-font-color: $black;

/* Global styles */
body{
    color: $primary_font_color;
    background-color: $background_color;
    width: 100%;
    margin: 0;
    line-height: 1;
    font-family: sans-serif;
    font-size: .90rem;
    a{
        text-decoration: none;
        color: $link_color;

        &:hover{
            text-decoration: underline;
        }

        &:visited{
        color: $link_color;
        }
    }

    ul{
        list-style: disc;
        margin: 15px;

        li{
            margin-bottom: 7px;
        }
    }

    ol{
        @extend ul;
        list-style: decimal;
    }
}

p{
    margin: 1em 0;
    line-height: 1.5;
}

b, strong{
    font-weight: 700;
}

i, em{
    font-style: italic;
}

.hidden{
    display: none;
}

.container{
    display: flex;
    align-items: stretch;
}

.col{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 0;
    
    &-even{
        @extend .row;
        justify-content: space-evenly;
    }
}

.alert{
    background-color: $red;
    border: 1px solid $dark-red;
    color: $red_font_color;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

.alert-success{
    background-color: $green;
    border-color: $dark_green;
    color: $green_font_color;
}

.alert-info{
    background-color: $alert-blue-background;
    border-color: $alert-blue-border;
    color: $blue_font_color;
}

.errors{

    margin-bottom: 15px;

    ul{
        list-style: disc;
        color: red;
        margin-left: 15px;
    }

    li{
        margin-bottom: 5px;
    }
}

.btn{
    color: $primary_font_color !important;
    background-color: $button-background-color;
    border: 1px solid $button-border-color;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    &:active{
        background-color: $button-click-background-color;
        color: $primary_font_color !important;
    }

    &:hover{
        background-color: $button-hover-background-color;
        color: $primary_font_color !important;
        text-decoration: none;
    }
}

.box{
    background-color: $seconday_background_color;
    border: 1px solid $seconday_border_color;
    padding: 5px;
}

/* Table styles */
.table{
    padding: 0;
    margin: 5px 5px 5px 15px;
    border: 1px solid $gray;

    th, td{
        padding: 10px;
        margin: 5px 10px;
    }

    thead{
        border-bottom: 1px solid $gray;
    }
    
    td{
        text-align: left;
    }

    tr:nth-child(odd) {
        background-color: $seconday_background_color;
    }

    tr:nth-child(even) {
        background-color: $tertiary_background_color;
    }
}

/* Layout Styles */

#page-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2.7rem;
    padding: 0 0 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid $secondary_font_color;
}

.navbar{
    padding: 5px;
    margin: 3px;
    justify-content: right;
}

.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $primary_font_color;
    text-decoration: none !important;
    font-size: 1.9rem;
    text-align: center;
    margin: 10px 0 10px 0;

    a{
        text-decoration: none !important;
        color: $primary_font_color;

        &:visited{
            color: $primary_font_color;
        }
    }
}

.side-nav{
    width: 10%;
    margin: 0 15px 0 15px;
    padding: 0;
    flex-direction: column;
    font-size: .85rem;

    ul{
        list-style: none;
        margin: 10px 0;
    }

    li{
        margin: 5px 0 2px 0;
    }

    .nav-title{
        color: $secondary_font_color;
        font-size: 1rem;
        padding-bottom: 2px;
        margin-bottom: 2px;
        border-bottom: 1px solid $secondary_font_color;
    }

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }

    }

}

.donate-btn{
    width: 100%;
    text-align: center;
}

.page{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;

}

.content{
    flex-grow: 1;
    background-color: $container_background_color;
    flex-direction: column;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid $primary-border-color;

    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 1.8rem;
        padding: 10px 8px 5px 0;
        margin: 10px 5px 10px 0;
        border-bottom: 1px solid $secondary_font_color;
        overflow: hidden;
    }

   /* h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 10px;
        padding-left: 0;
        margin: 10px 5px 10px 0;
        border-bottom: 1px solid $tertiary_font_color;
        overflow: hidden;
    } */

    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800;
        font-size: 1.5rem;
        padding: 5px 0;
        margin: 5px 0;
        overflow: hidden;
    }

    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 5px 0;
        font-style: italic;
        margin: 5px 0 5px 5px;
        overflow: hidden;
    }

}

/* Page styles */

.category-box{
    
    background-color: $seconday_background_color;
    border-radius: 10px;
    border: 1px solid $seconday_border_color;
    line-height: 1.5;
    clear: both;

    padding: 13px;
    margin: 10px 0;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li{
        display: inline;
    }

    li + li{
        border-left: 1px solid $tertiary_font_color;
        margin-left: 10px;
        padding-left: 10px;
    }

}

.page-nav{
    line-height: inherit;
    padding: 10px 18px;
    font-size: .9rem;
    background-color: $seconday_background_color;
    border: 1px solid $seconday_border_color;

    ol, ul{
        margin: 4px 0 0 8px;
        list-style: decimal;
        ol, ul{
            list-style: upper-roman;
            margin-left: 25px;
            ol, ul{
                list-style: lower-roman;
            }
        }
    }

    li{
        margin-bottom: 4px;
    }

    .page-nav-title{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        width: 100%;
    }
}

#new-section-link{

    margin: 10px 0;
    font-size: 1.5rem;

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.edit-button{

    font-size: .85rem;
    font-family: sans-serif;
    margin-left: 10px;
}

.sub-title{
    font-size: .9rem;
    margin: 0;
    padding: 2px;

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }

    }
}

/* Form Styles */
.form-container{

    margin: 15px 0;

    input:not([type=checkbox]){
        border-radius: 5px;
        height: 2em;
        padding: 2px;
        border: 1px solid $seconday_border_color;
        margin: 5px 0;

        &:focus{
            border-color: $primary-border-color;
        }

    }

    textarea{
        font-size: .85rem;
        line-height: 1.5;
        white-space: pre-wrap;
        border-width: 1px;

        &:focus{
            border-color: $primary-border-color;
        }
    }

    .form-control{
        box-sizing: border-box;
        width: 100%;
    }

    .form-group{
        margin-bottom: 10px;
    }

    .form-group:not(.form-check){
        display: flex;
        flex-direction: column;
    }

    .field_with_errors{
        input{
            border: 1px solid red;
        }
    }
}

/*World Styles*/
.admins-box{
    background-color: $seconday_background_color;
    border: 1px solid $seconday_border_color;
    line-height: 1.5;

    padding: 10px;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li{
        display: inline;
    }

    li + li{
        border-left: 1px solid $tertiary_font_color;
        margin-left: 10px;
        padding-left: 10px;
    }

    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

/* Wiki Styles */
.list-display{
    margin: 0 0 0 15px;
    list-style: disc;
    li{
        box-sizing: border-box;
        height: 25px;
        font-size: .9rem;
    }
}

.list-display-ordered{
    @extend .list-display;

    list-style-type: decimal;
}

.list-heading{
    box-sizing: border-box;
    height: 28px;
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

/* Search styles */
.search-result{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $black;
    background-color: $seconday_background_color;

    h3{
        border-bottom: 1px solid $seconday_border_color;
        padding: 5px;
        a{
            text-decoration: none;
    
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* Editor Styles */
.CodeMirror{
    border: 1px solid $seconday_border_color;
    height: 55vh !important;
    width: 100%;
    box-sizing: border-box;
    font-size: .9rem;
    margin-top: 10px;
    line-height: 1.4;
}

.CodeMirror-focused{
    border-color: $primary-border-color;
}

/* Debug */
.debug_dump
{
    margin: 15px 0;
    padding: 15px;
    background-color: $seconday_background_color;
    border: 2px solid $seconday_border_color;
}