<% @page_title = "#{@world.name}'s Wiki: Categories" %>
<span class="sub-title"><%= link_to "Add Category", new_user_world_category_path(params[:world_name]) %></span>
<% if @world.sub_wiki.categories.empty? %>
<div>
    <p>No Categories yet!</p>
</div>
<% else %>
<%= render partial: "shared/page_list", locals: {count: @world.sub_wiki.categories.count, 
                                                names: @world.sub_wiki.categories.order("name ASC").pluck(:name), 
                                                col_length: 25, 
                                                admin: false,
                                                view: "categories/",
                                                delete: "categories/"} %>
<% end %>
