<h1><%= @world.name %>'s Wiki</h1>

<h2>Top Pages</h2>
<div class="row">
    <div class="col">
        <ol class="list-display-ordered">
            <% @world.sub_wiki.pages.order("view_count DESC").first(5).pluck(:title).each do |title| %>
            <li><%= link_to title, world_page_path(@world.name, title) %></li>
            <% end %>
        </ol>
    </div>
</div>

<h2>Categories</h2>
<% if @world.sub_wiki.categories.empty? %>
<div>
    <p>No Categories yet!</p>
</div>
<% else %>
<%= render partial: "shared/page_list", locals: {count: @world.sub_wiki.categories.count, 
                                                names: @world.sub_wiki.categories.order("name ASC").pluck(:name), 
                                                col_length: 25, 
                                                admin: false,
                                                view: "wiki/categories/",
                                                delete: "wiki/categories/"} %>
<% end %>