<h1><%= @world.name %>'s Wiki</h1>

<%= render partial: "shared/page_list", locals: {count: @world.sub_wiki.categories.count, 
                                                names: @world.sub_wiki.categories.order("name ASC").pluck(:name), 
                                                col_length: 15, 
                                                admin: @world.is_admin?(current_user),
                                                view: "categories/",
                                                delete: "categories/"} %>